/* .add-item-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px 0 40px 40px;
    right: 50px;
    background-image: linear-gradient(to right, var(--main-color), var(--main-color-transparent));
    z-index: 1;
} */

.add-item-container {
    padding: 5px 15px;
    background-color: #f4f4f4;
    border-top: 1px solid #dfdfdf;
    display: flex;
    align-items: center;
    /* box-shadow: #5f73c1 0px 1px 3px, #5f73c1 0px 1px 2px; */
}

.add-item {
    display: flex;
    /* padding: 8px 10px;
    background-color: #d6dcf4; */
    font-size: 14px;
    width: 100%;
    /* overflow: hidden; */
    /* position: relative; */
    /* margin-top: auto; */
    /* position: absolute;
    top: 0;
    left: 0;
    right: 0; */
}

.add-item-container.error {
    border-color: red;
    animation: shake 0.1s linear;
}

@keyframes shake {
    0% {
        transform: translateX(-10px);
    }

    50% {
        transform: translateX(10px);
    }

    100% {
        transform: translateX(0);
    }
}

/* .add-item-container.error input {
    color: red;
}

.add-item-container.error span {
    cursor: default;
    color: red;
} */

/* .add-item:hover {
    background-color: white;
} */

.add-item .single-list {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-grow: 1;
}

.add-item .single-list img {
    width: 20px;
    height: 20px;
    /* cursor: pointer; */
}

.add-item .single-list img.active,
.add-item span img.active {
    cursor: pointer;
}

.add-item .single-list input {
    padding: 5px;
    flex-grow: 1;
    color: black;
    background-color: #f4f4f4;
    caret-color: #5f73c1;
}

/* .add-item .single-list:hover {
    background-color: #e9e9e9;
} */

/* .add-item .single-list input:hover {
    background-color: #e9e9e9;
}

.add-item .single-list input:focus {
    background-color: #e9e9e9;
} */

.add-item span {
    /* position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px; */
    /* font-weight: bolder;
    cursor: pointer; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-item span img {
    width: 25px;
    height: 25px;
}

.add-item span.disabled {
    cursor: default;
    color: black;
}


.lists-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow-y: auto;
    margin: 3px 3px 3px 0;
}

.lists-container::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.lists-container::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.lists-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 3px;
}

/* Handle on hover */
.lists-container::-webkit-scrollbar-thumb:hover {
    background-color: #5f73c1;
}

.lists-container li {
    padding: 10px 15px;
    cursor: pointer;
    transform-origin: top center;
}

.lists-container li:not(.group-of-lists).active,
.lists-container li:not(.group-of-lists):hover,
.lists-container li.group-of-lists .group-of-lists-controller:hover,
.lists-container li.group-of-lists.active .group-of-lists-controller {
    background-color: #ebebeb;
}

.lists-container li.single-list p {
    display: flex;
    align-items: center;
    gap: 8px;
    /* cursor: pointer; */
}

.lists-container li.single-list p .tasks-count {
    margin-left: auto;
    font-size: 12px;
    background-color: #dfdfdf;
    /* padding: 6px; */
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lists-container li.group-of-lists {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    flex-wrap: wrap;
    padding: 0;
}

.lists-container li.group-of-lists .group-of-lists-controller {
    display: flex;
    /* gap: 8px; */
    justify-content: space-between;
    align-items: center;
    flex-basis: 100%;
    padding: 10px 15px;
}

.lists-container li.group-of-lists .group-of-lists-controller p {
    display: flex;
    align-items: center;
    gap: 8px;
}

.lists-container li.group-of-lists .group-of-lists-controller .toggle img {
    width: 13px;
    height: 13px;
}

.lists-container li.group-of-lists ul {
    flex-basis: 100%;
    margin-right: 6px;
    /* transform-origin: top;
    transition: all 0.3s linear;
    transform: translateY(-100%);
    opacity: 0; */
    transform-origin: top center;
    transition: all 0.3s linear;
    max-height: 0;
}



/* .toggle-group-of-list-enter-active {
    animation: bounce-in 0.5s;
}

.toggle-group-of-list-leave-active {
    animation: bounce-in 0.2s reverse;
} */

/* @keyframes bounce-in {
    0% {
        max-height: 0;
    }

    50% {
        max-height: 42px;
    }

    100% {
        max-height: fit-content;
    }
} */

/* .lists-container li.group-of-lists ul.hide {
    transition: all 0.3s linear;
    height: 0;
    display: none;
} */

/* .lists-container li.group-of-lists ul.active {
    animation: toggleChildLists 0.3s linear forwards;
}

@keyframes toggleChildLists {
    0%{
        transform: translateY(-100%);
    }

    50%{
        transform: translateY(-50%);
    }

    100% {
        transform: translateY(0);
    }
} */

.lists-container li.group-of-lists ul li {
    padding: 10px 30px;
}

.lists-container li.group-of-lists ul li p {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.lists-container li.group-of-lists img,
.lists-container li.single-list img {
    width: 15px;
    height: 15px;
}

.render-list-move,
.render-list-enter-active,
.render-list-leave-active {
    transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}

/* 2. declare enter from and leave to state */
.render-list-enter-from,
.render-list-leave-to {
    opacity: 0;
    transform: scaleY(0.01);
}

/* 3. ensure leaving items are taken out of layout flow so that moving
      animations can be calculated correctly. */
.render-list-leave-active {
    position: absolute;
}