.drop-down {
    position: absolute;
    background-color: white;
    height: fit-content;
    width: 200px;
    border-radius: 3px;
    z-index: 15;
    overflow: hidden;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.drop-down ul {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.drop-down ul li {
    padding: 0 !important;
}

.drop-down ul li:hover {
    background-color: white !important;
}

.drop-down ul li .renameList {
    height: 35px;
}

.drop-down ul li input {
    width: calc(200px - 60px);
}

.drop-down ul li .renameList input {
    width: calc(200px - 60px);
}

.drop-down ul li input.custom-date {
    flex-grow: 1 !important;
    width: unset !important;
}

.drop-down ul li .renameList input.error,
.drop-down ul li input.custom-date.error {
    border-color: red;
    animation: shake 0.1s linear;
}

@keyframes shake {
    0% {
        transform: translateX(-10px);
    }

    50% {
        transform: translateX(10px);
    }

    100% {
        transform: translateX(0);
    }
}

.drop-down ul li>div {
    padding: 5px !important;
    width: 100%;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 5px;
    height: 100%;
    cursor: pointer;
}

.drop-down ul li>div img {
    height: 15px;
}

.drop-down ul li:last-of-type {
    border-top: 1px solid #dfdfdf;
}

.drop-down ul li:last-of-type div.delete {
    color: red !important;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.to-bottom-enter-active,
.to-bottom-leave-active {
    transition: all 0.2s ease-out;
}


.to-bottom-enter-from,
.to-bottom-leave-to {
    transform: translateY(-30px);
    opacity: 0;
}