.dashboard-content-container {
    /* padding: 40px; */
    /* padding: 0 40px; */
    flex-grow: 1;
    /* background-color: var(--main-color); */
    background-color: #5f73c1;
    display: flex;
    overflow: hidden;
    position: relative;
}

.dashboard-content-container .view-content-container {
    flex-grow: 1;
    flex-basis: calc(100% - 360px);
}

.dashboard-content-container .task-description {
    flex-basis: 360px;
    background-color: white;
    /* padding: 30px 0 0; */
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    /* gap: 5px; */
    min-width: 360px;
    height: 100%;
}

@media (max-width: 1024px) {
    .dashboard-content-container .task-description {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
}

.dashboard-content-container .task-description .close-container {
    padding: 10px;
    width: 100%;
    display: flex;
    /* justify-content: flex-end; */
    justify-content: space-between;
}

.dashboard-content-container .task-description .close-container img {
    height: 25px;
    cursor: pointer;
}

.dashboard-content-container .task-description .close-description {
    margin-left: auto;
}

/* .dashboard-content-container .task-description .close-container .alert-message {
    animation: shake-x 0.2s linear infinty;
} */

.dashboard-content-container .task-description .task-main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 10px;
}

.dashboard-content-container .task-description .task-box {
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 10px;
    cursor: pointer;
}

.dashboard-content-container .task-description .task-info-and-steps h2 {
    background-color: white;
    border-radius: 3px;
    padding: 10px 0;
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.dashboard-content-container .task-description .task-info-and-steps h2 .check {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #5f73c1;
    cursor: pointer;
}

.dashboard-content-container .task-description .task-info-and-steps h2.complete .check {
    background-color: #f4f4f4;
}


.dashboard-content-container .task-description .task-info-and-steps h2 .check img {
    visibility: hidden;
    transition: all 0.2s linear;
    width: 10px;
}

.dashboard-content-container .task-description .task-info-and-steps h2 .check:hover img,
.dashboard-content-container .task-description .task-info-and-steps h2.complete .check img {
    visibility: visible;
}

.dashboard-content-container .task-description .task-info-and-steps h2 .task-name.complete {
    text-decoration: line-through;
}

.dashboard-content-container .task-description .task-info-and-steps h2 .important-toggle {
    margin-left: auto;
    width: 20px;
}

.dashboard-content-container .task-description .task-info-and-steps .task-steps-container .steps-container {
    padding: 2px;
    max-height: 72px;
    overflow: auto;
    padding-right: 0;
}

.dashboard-content-container .task-description .task-info-and-steps .task-steps-container .steps-container::-webkit-scrollbar {
    width: 5px;
}

.dashboard-content-container .task-description .task-info-and-steps .task-steps-container .steps-container::-webkit-scrollbar-track {
    background: white;
}

.dashboard-content-container .task-description .task-info-and-steps .task-steps-container .steps-container::-webkit-scrollbar-thumb {
    background: #5f73c1;
    border-radius: 3px;
}

.dashboard-content-container .task-description .task-info-and-steps .task-steps-container ul.task-steps {
    display: flex;
    flex-direction: column;
    margin-right: 2px;
}

.dashboard-content-container .task-description .task-info-and-steps .task-steps-container ul.task-steps li {
    background-color: white;
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    padding: 8px 0;
    border-bottom: 1px solid #dfdfdf;
    position: relative;
}

.dashboard-content-container .task-description .task-info-and-steps .task-steps-container ul.task-steps li.add-animation-x {
    animation: shift 0.3s linear forwards;
}

@keyframes shift {
    0% {
        transform: scale(0.98);
    }

    50% {
        transform: scale(1.00005);
    }

    100% {
        transform: scale(1);
    }
}

.dashboard-content-container .task-description .task-info-and-steps .task-steps-container ul.task-steps li:last-of-type {
    border-bottom: none;
}

.dashboard-content-container .task-description .task-info-and-steps .task-steps-container ul.task-steps li .check {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #5f73c1;
    cursor: pointer;
}

.dashboard-content-container .task-description .task-info-and-steps .task-steps-container ul.task-steps li.complete .check {
    background-color: #f4f4f4;
}


.dashboard-content-container .task-description .task-info-and-steps .task-steps-container ul.task-steps li .check img {
    visibility: hidden;
    transition: all 0.2s linear;
    width: 8px;
}

/* .dashboard-content-container .task-description .task-info-and-steps .task-steps-container ul li .check:hover img, */
.dashboard-content-container .task-description .task-info-and-steps .task-steps-container ul.task-steps li.complete .check img {
    visibility: visible;
}

.dashboard-content-container .task-description .task-info-and-steps .task-steps-container ul.task-steps li .task-name.complete {
    text-decoration: line-through;
}

.dashboard-content-container .task-description .task-info-and-steps .task-steps-container ul.task-steps li .important-toggle {
    margin-left: auto;
    width: 15px;
}

.show-steps-move,
.show-steps-enter-active,
.show-steps-leave-active {
    transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
}

/* 2. declare enter from and leave to state */
.show-steps-enter-from,
.show-steps-leave-to {
    opacity: 0;
    transform: scaleY(0.01) translateY(20px);
    transform-origin: center top;
}

/* 3. ensure leaving items are taken out of layout flow so that moving
      animations can be calculated correctly. */
.show-steps-leave-active {
    position: absolute;
}

.dashboard-content-container .task-description .task-info-and-steps .task-steps-container hr {
    height: 1px;
    width: 80%;
    background-color: #dfdfdf;
    margin: 5px auto;
}

.dashboard-content-container .task-description .task-info-and-steps .task-steps-container .add-steps {
    display: flex;
    align-items: center;
    border-top: 1px solid #dfdfdf;
    /* margin-top: 5px; */
    padding-top: 5px;
}

.dashboard-content-container .task-description .task-info-and-steps .task-steps-container .add-steps.error {
    border-color: red;
    animation: shake 0.1s linear;
}

@keyframes shake {
    0% {
        transform: translateX(-10px);
    }

    50% {
        transform: translateX(10px);
    }

    100% {
        transform: translateX(0);
    }
}

.dashboard-content-container .task-description .task-info-and-steps .task-steps-container .add-steps img {
    width: 15px;
}

.dashboard-content-container .task-description .task-info-and-steps .task-steps-container .add-steps img.active {
    cursor: pointer;
}

.dashboard-content-container .task-description .task-info-and-steps .task-steps-container .add-steps input {
    flex-grow: 1;
    padding: 5px;
}

.dashboard-content-container .task-description .rename-task {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
}

.dashboard-content-container .task-description .rename-task input {
    flex-grow: 1;
}

.dashboard-content-container .task-description .rename-task input.error {
    border-color: red;
    animation: shake 0.1s linear;
}

@keyframes shake {
    0% {
        transform: translateX(-10px);
    }

    50% {
        transform: translateX(10px);
    }

    100% {
        transform: translateX(0);
    }
}

.dashboard-content-container .task-description .rename-task img {
    height: 25px;
}

.dashboard-content-container .task-description .rename-task img.renameTask {
    cursor: default;
}

.dashboard-content-container .task-description .rename-task img.renameTask.active {
    cursor: pointer;
}

.dashboard-content-container .task-description .add-to-my-day {
    display: flex;
    align-items: center;
    gap: 8px;
}

.dashboard-content-container .task-description .add-to-my-day img {
    height: 25px;
}

.dashboard-content-container .task-description .time-and-date {
    display: flex;
    flex-direction: column;
    /* gap: 5px; */
}

.dashboard-content-container .task-description .time-and-date>div {
    display: flex;
    align-items: center;
    gap: 8px;
    border-bottom: 1px solid #dfdfdf;
    padding: 8px 0;
    cursor: pointer;
}

.dashboard-content-container .task-description .time-and-date>div .delete-due-date {
    margin-left: auto;
    cursor: pointer;
}

.dashboard-content-container .task-description .time-and-date>div:last-of-type {
    border-bottom: none;
}

.dashboard-content-container .task-description .time-and-date>div.delete {
    color: red;
}

.dashboard-content-container .task-description .time-and-date>div img {
    height: 25px;
}

.dashboard-content-container .task-description .task-notes {
    /* flex-grow: 1; */
}

.dashboard-content-container .task-description .task-notes h3 {
    font-size: 16px;
    font-weight: bold;
}

.dashboard-content-container .task-description .task-notes textarea {
    width: 100%;
    max-height: 100px;
    resize: none;
    /* color: #dfdfdf; */
    margin: 5px 0;
    /* height: fit-content !important; */
    /* height: 60px; */
    height: 20px;
    /* max-height: 150px; */
}

.dashboard-content-container .task-description .task-notes textarea::-webkit-scrollbar {
    width: 5px;
}

.dashboard-content-container .task-description .task-notes textarea::-webkit-scrollbar-track {
    background: white;
}

.dashboard-content-container .task-description .task-notes textarea::-webkit-scrollbar-thumb {
    background: #5f73c1;
    border-radius: 3px;
}



.dashboard-content-container .task-description .task-notes .note-controller {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 10px;
}

.dashboard-content-container .task-description .task-notes .note-controller button {
    background-color: #5f73c1;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    padding: 3px 5px;
}

.dashboard-content-container .task-description .task-notes .note-controller .date {
    color: #666;
    font-size: 15px;
}

.to-left-move,
.to-left-enter-active {
    transition: all 0.4s ease-in-out;
}

.to-left-leave-active {
    transition: all 0.4s ease-in-out;
}

/* 2. declare enter from and leave to state */
.to-left-enter-from,
.to-left-leave-to {
    opacity: 0;
    transform: translateX(360px);
}

/* 3. ensure leaving items are taken out of layout flow so that moving
      animations can be calculated correctly. */
/* .to-left-leave-active {
    position: absolute;
} */

.dashboard-content-container .task-description .task-time-and-delete {
    /* margin-top: auto; */
    border-top: 1px solid #dfdfdf;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    position: relative;
}

.dashboard-content-container .task-description .task-time-and-delete span {
    /* margin-left: auto; */
    height: 40px;
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
}

.dashboard-content-container .task-description .task-time-and-delete span img {
    height: 20px;
}