.view-content-container {
    height: 100vh;
    position: relative;
    padding: 10px 0;
}

.view-content-container.shrink {
    animation: shrink 0.3s cubic-bezier(0.55, 0, 0.1, 1) forwards;
}

.view-content-container.grow {
    animation: grow 0.1s cubic-bezier(0.55, 0, 0.1, 1) forwards;
}

@keyframes shrink {
    0% {
        width: 100%;
        flex-basis: 100%;
    }

    25% {
        width: 90%;
        flex-basis: 90%;
    }

    50% {
        width: 80%;
        flex-basis: 80%;
    }

    75% {
        width: 70%;
        flex-basis: 70%;
    }

    100% {
        width: 67%;
        flex-basis: 67%;
    }
}

@keyframes grow {
    0% {
        width: 67%;
        flex-basis: 67%;
    }

    25% {
        width: 70%;
        flex-basis: 70%;
    }

    50% {
        width: 80%;
        flex-basis: 80%;
    }

    75% {
        width: 90%;
        flex-basis: 90%;
    }

    100% {
        width: 100%;
        flex-basis: 100%;
    }
}

.view-content-container .title {
    position: absolute;
    top: 0;
    left: 40px;
    right: 45px;
    background-color: #5f73c1f0;
    /* height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between; */
    color: white;
    font-weight: bolder;
    padding: 30px 0;
}

.view-content-container .tasks {
    margin-right: 5px;
    overflow-y: auto;
    padding: 103px 40px 105px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.view-content-container .tasks li {
    background-color: white;
    border-radius: 3px;
    padding: 5px 10px;
    min-height: 55px;
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transform-origin: center center;
}

.view-content-container .tasks li.add-animation {
    animation: pop 0.3s linear forwards;
}

.view-content-container .tasks li.add-animation-x {
    animation: shift 0.3s linear forwards;
}

@keyframes shift {
    0% {
        transform: scale(0.98);
    }

    50% {
        transform: scale(1.00005);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes pop {
    0% {
        transform: scaleY(0.8);
    }

    50% {
        transform: scaleY(1.1);
    }

    100% {
        transform: scaleY(1);
    }
}

.view-content-container .tasks li .check {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #5f73c1;
    cursor: pointer;
}

.view-content-container .tasks li.complete .check {
    background-color: #f4f4f4;
}


.view-content-container .tasks li .check img {
    visibility: hidden;
    transition: all 0.2s linear;
    width: 10px;
}

/* .view-content-container .tasks li .check:hover img, */
.view-content-container .tasks li.complete .check img {
    visibility: visible;
}

.view-content-container .tasks li .task-main-info {
    display: flex;
    flex-direction: column;
}

.view-content-container .tasks li .task-main-info .info-icons {
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.view-content-container .tasks li .task-main-info .info-icons .steps {
    display: flex;
    align-items: center;
    gap: 3px;
}

.view-content-container .tasks li .task-main-info .info-icons .note {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding-left: 10px;
    border-left: 1px solid #dfdfdf;
}

.view-content-container .tasks li .task-main-info .info-icons .steps img,
.view-content-container .tasks li .task-main-info .info-icons .note img {
    height: 15px;
}

.view-content-container .tasks li .task-name.complete {
    text-decoration: line-through;
}

.view-content-container .tasks li .important-toggle {
    margin-left: auto;
    width: 20px;
}

.view-content-container .tasks::-webkit-scrollbar {
    width: 5px;
}

.view-content-container .tasks::-webkit-scrollbar-track {
    background: #5f73c1;
}

.view-content-container .tasks::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 3px;
}


.view-content-container .add-task {
    position: absolute;
    bottom: 0;
    left: 40px;
    right: 45px;
    padding: 10px 0 45px 0;
    background-color: #5f73c1f0;
    /* position: relative; */
}

.view-content-container .add-task .add-task-container {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    border: 1px solid #5f73c1;
}

.view-content-container .add-task .add-task-container span {
    display: flex;
    align-items: center;
    justify-content: center;
}

.view-content-container .add-task .add-task-container span.active img {
    cursor: pointer;
}

.view-content-container .add-task .add-task-container span img {
    width: 20px;
}

.view-content-container .add-task .add-task-container input {
    height: 100%;
    width: 100%;
    padding: 8px;
    flex-grow: 1;
    font-size: 16px;
    caret-color: #5f73c1;
}

.view-content-container .add-task .add-task-container.error {
    border-color: red;
    animation: shake 0.1s linear;
}

@keyframes shake {
    0% {
        transform: translateX(-10px);
    }

    50% {
        transform: translateX(10px);
    }

    100% {
        transform: translateX(0);
    }
}

.tasks-transition-move,
.tasks-transition-enter-active,
.tasks-transition-leave-active {
    transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}

/* 2. declare enter from and leave to state */
.tasks-transition-enter-from,
.tasks-transition-leave-to {
    opacity: 0;
    transform: scaleY(0.01) translate(30px, 0);
}

/* 3. ensure leaving items are taken out of layout flow so that moving
      animations can be calculated correctly. */
.tasks-transition-leave-active {
    position: absolute;
}