.main-content {
    width: 100vw;
    height: 100vh;
    display: flex;
    position: relative;
}

.main-content aside {
    flex-basis: 280px;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    /* position: relative; */
    /* padding: 15px; */
}

.main-content aside .toggle-aside {
    display: none;
    padding: 15px;
    width: fit-content;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    background-color: transparent;
}


@media (min-width:769px) {
    .main-content aside .toggle-aside {
        display: none;
    }
}


@media (max-width:768px) {
    .main-content aside {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        z-index: 3;
        box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
        /* transform: translateX(-280px); */
    }

    .main-content aside .toggle-aside {
        display: block;
    }

    .main-content aside .toggle-aside img {
        height: 20px;
        cursor: pointer;
    }
}



.to-right-move,
.to-right-enter-active {
    transition: all 0.2s ease-in-out;
}

.to-right-leave-active {
    transition: all 0.2s ease-in-out;
}

/* 2. declare enter from and leave to state */
.to-right-enter-from,
.to-right-leave-to {
    opacity: 1;
    transform: translateX(-280px);
}