.aside-link {
    display: flex;
    gap: 5px;
    flex-direction: column;
    border-bottom: 1px solid #dfdfdf;
    margin-right: 3px;
    padding-bottom: 8px;
}

.aside-link a {
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 5px 15px;
    border-radius: 3px;
    color: black;
    font-size: 17px;
}

.aside-link a.router-link-active,
.aside-link a:hover {
    background-color: #ebebeb;
}

.aside-link a img {
    width: 30px;
}

.aside-link a .tasks-count {
    margin-left: auto;
    font-size: 12px;
    background-color: #dfdfdf;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}